@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Asset Tracker is a Simple Asset Management System</a>.</p>
    <p></p>Version 1.0.0</p>
</div>
